* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #1c3557;

  h1 {
    margin-bottom: 30px;
    font-size: 48px;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border: none;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    align-items: center;
    margin: 10px;

    input {
      width: 250px;
      border: none;
      height: 40px;
      border-radius: 30px;
      padding-left: 10px;
      margin: 10px;
    }

    button {
      height: 40px;
      width: 250px;
      border-radius: 30px;
      border: none;
      background-color: #1c3557;
      color: whitesmoke;
      font-weight: 400;
      font-size: medium;
      margin: 15px;
      align-items: center;
    }
    label {
      color: #1c3557;
      padding-left: 10px;
    }
  }
  .adminBtn {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 5px;
    }
    .link {
      color: #1c3557;
      text-decoration: none;
      list-style: none;
    }
  }
}

.admin-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #1c3557;

  h1 {
    margin-bottom: 30px;
    font-size: 48px;
  }
  .admin-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border: none;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    align-items: center;
    margin: 10px;

    input {
      width: 250px;
      border: none;
      height: 40px;
      border-radius: 30px;
      padding-left: 10px;
      margin: 10px;
    }

    button {
      height: 40px;
      width: 250px;
      border-radius: 30px;
      border: none;
      background-color: #1c3557;
      color: whitesmoke;
      font-weight: 400;
      font-size: medium;
      margin: 15px;
      align-items: center;
    }
    label {
      color: #1c3557;
      padding-left: 10px;
    }
  }
}

.header-container {
  height: 160px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
}

.sub-header {
  height: 149px;
  width: 100vw;
  padding-top: 45px;
  padding-left: 15px;
  background-color: #1c3557;

  h1 {
    font-size: 26px;
    color: white;
  }

  h2 {
    font-size: 36px;
    color: white;
  }
}

.tag {
  margin: 37px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  width: 145px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  background-color: #1c3557;
  text-align: center;
  text-decoration: none;
}

.team-name {
  height: 160px;
  font-size: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgb(190, 190, 190), #1c3557 45%);
  .circle {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: gray;
  }
  p {
    font-size: 64px;
    color: white;
  }

  span {
    font-size: 24px;
    color: white;
  }
}

.stats {
  .user-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .user {
      padding-top: 10px;
      padding-left: 10px;
      grid-column: 1/2;
      grid-row: 1/4;
      display: flex;

      img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #1c3557;
      }
    }
    .cash {
      padding-top: 10px;
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;

      p {
        background-color: rgb(209, 209, 209);
        padding: 7px;
        border-radius: 5px;
        font-weight: 700;
      }
    }
  }
  .team-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
  }
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .coach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 15px;
  }
  .member1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 15px;
  }
  .member2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 15px;
  }
  .member3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row: 1/2;
    padding: 15px;
  }
  .member4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 15px;
  }
  .member5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 15px;
  }
}
.navbar {
  height: 102px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #1c3557;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
  list-style: none;
  z-index: 99;

  .events,
  .clients,
  .contests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
  }
}

.team-standing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .graph {
    margin-top: 75px;
    justify-content: center;
    align-items: flex-end;
    display: inline-flex;

    .second {
      height: 111px;
      width: 90px;
      background-color: #a9dadc;

      .two {
        padding: 3px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 15px;
        }
      }
    }

    .first {
      height: 150px;
      width: 90px;
      background-color: #457d9f;

      .one {
        padding: 3px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 15px;
          color: white;
        }
      }
    }

    .third {
      height: 73px;
      width: 90px;
      background-color: #1c3557;

      .three {
        padding: 3px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          color: white;
          font-size: 15px;
        }
      }
    }
  }
  .team-ranking {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 50px;
    padding: 25px;

    .team1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 10px;

      .avatar {
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
      }
    }
    .team2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 10px;

      .avatar {
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
      }
    }
    .team3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 3/4;
      grid-row: 1/2;
      padding: 10px;

      .avatar {
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
      }
    }
    .team4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 4/5;
      grid-row: 1/2;
      padding: 10px;

      .avatar {
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
      }
    }
  }
}

.btn-logout {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .logout {
    height: 30px;
    width: 70px;
    border: none;
    background-color: #1c3557;
    color: white;
    border-radius: 30px;
  }
}

.action-menu {
  font-size: 40px;
}

.action-tool {
  position: relative;
  background-color: #ffffff;
  width: 211px;
  height: 121px;
  display: grid;
  direction: column;
  .close {
    color: #a9dadc;
    background: none;
  }
  .delete {
    display: flex;
    justify-self: end;
  }
  .edit {
    display: flex;
    justify-self: end;
  }
}
