// Admin Client  from Admin.js
.admin-client {
  justify-content: center;
  align-items: center;

  .admin-header {
    display: flex;
    justify-content: inherit;
    align-items: center;
    height: 148px;
    width: 100vw;
    background: linear-gradient(to right, #acacac, #1c3557 50%);
    position: relative;

    .gear {
      color: #c7c7c783;
      z-index: 0;
      height: 90px;
      width: 90px;
      position: relative;
      left: 40px;
      padding: 0;
      margin: 0;
    }

    h1 {
      position: relative;
      color: white;
      font-size: 36px;
      z-index: 1;
      letter-spacing: 5px;
      padding-left: 65px;
    }
  }
  .client-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 30px;
  }
  .client-tag {
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 145px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: #1c3557;
    text-align: center;
    grid-column: auto;
    grid-row: auto;
  }

  .form-container {
    border-radius: 50%;
    height: 145px;
    width: 145px;

    .client-form {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}
