// Admin Client  from Admin.js
.admin-client {
  justify-content: center;
  align-items: center;

  .admin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 148px;
    width: 100vw;
    background-color: #1c3557;
    h1 {
      color: white;
      font-size: 36px;
    }
  }
  .client-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .client-tag {
    margin: 37px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 145px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: #1c3557;
    text-align: center;
  }

  .form-container {
    border-radius: 50%;
    height: 145px;
    width: 145px;

    .client-form {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}
